# All json OUT
*json

# Assicurati che i file in parallel_execution/evolution_logs/*.json siano tracciati
!our_versions/evolution_logs/*.json

# Ma NON ignorare performances.json
!performances.json

# parallel output
*.sh.e*
*.sh.o*

# Everything under the FishSchoolSearch directory
FishSchoolSearch/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
